.button {
    padding: 10px 20px;
    border: none;
    background-color: #73be76;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 140px;
}

.button:hover {
    background-color: #45a049;
}

.control-panel h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.control-panel {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table th,
.item-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.item-table th {
    background-color: #73be76;
    color: white;
}

.item-table tr:hover {
    background-color: #f1f1f1;
}

input[type=text],
input[type=password],
select,
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.form-control:focus {
    border-color: #5fc2ed;
    outline: none;
    box-shadow: 0 0 5px rgba(95, 194, 237, 0.5);
}

@media (max-width: 768px) {
    table {
        width: 100%;
        border: 0;
    }

    th,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    td {
        text-align: right;
        padding-left: 10px;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}



   
